RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /

RewriteRule ^instander-api/instander/is_verified.json$ instander-api/instander/is_verified.php [L,QSA]

ErrorDocument 404 /
